{% extends 'authentication_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <form action="#" class="auth-form">
        {% csrf_token %}
        <!-- start of form-element -->
        {{ form|crispy }}
        <div class="form-element-row">
            <button class="btn btn-primary">ورود</button>
        </div>
        <!-- end of form-element -->
    </form>
{% endblock %}


{#<div class="form-element-row mb-3">#}
{#            <label class="label">رمز عبور جدید</label>#}
{#            <input type="text" class="form-control" placeholder="">#}
{#        </div>#}
{#        <!-- end of form-element -->#}
{#        <!-- start of form-element -->#}
{#        <div class="form-element-row mb-3">#}
{#            <label class="label">تکرار رمز عبور جدید</label>#}
{#            <input type="text" class="form-control" placeholder="">#}
{#        </div>#}
{#        <!-- end of form-element -->#}
{#        <!-- start of form-element -->#}