{% load static %}


<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2962ff">
    <meta name="msapplication-navbutton-color" content="#2962ff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2962ff">
    <title>{% block title %}

    {% endblock %}</title>
    {% include 'style.html' %}
</head>

<body>

<div class="page-wrapper">
    <header class="page-mini-header py-4">
        <div class="d-flex justify-content-center">
            <div class="logo-container">
                <a href="#" class="logo"><img src="{% static "products/images/logo-dark.svg" %}" width="120" alt=""></a>
            </div>
        </div>
    </header>
    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% block content %}

    {% endblock %}
    <footer class="page-mini-footer">
        <div class="d-flex justify-content-center py-5">
            <div class="logo-container">
                <a href="#" class="logo"><img src="{% static "products/images/logo-dark.svg" %}" width="120" alt=""></a>
            </div>
        </div>
    </footer>
</div>

{% include 'script.html' %}
</body>

</html>
